body,
body * {
box-sizing: border-box;
margin: 0;
padding: 0;
}

body{
    background-color: darkgray;
}

.container{
    font-family: monospace;
    display: inline-block;
    width: 1260px;
    margin-left: calc(50% - 630px);
    margin-top: calc(50vh - 414px);
    padding: 144px 180px;
    background-color: #fff;
    color: #1F4D14;
    position: relative;
    height: 828px;
}

.exit{
    position: absolute;
    color: #B4B4B4;
    top: 10px;
    right: 20px;
    font-size: 20px;
    height: 1.5em;
    width: 1.5em;
    border: none;
}

.exit:hover{
    color: #000;
    background-color: red;
}

.left-column{
    float: left;
    width: 281px;
    user-select: none;
}

.right-column{
    float: right;
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 54px;
}

.title{
    font-weight: bold;
    font-size: 270px;
    line-height: 1em;
}

.title-desciption,
.desciption{
    font-size: 29px;
    font-weight: bold;
}

.desciption{
    font-weight: normal;
    color: #B4B4B4;
}

.button{
    display: inline-block;
    background-color: #61AE4F;
    text-decoration: none;
    color: #fff;
    font-size: 29px;
    padding: 18px;
    padding-left: 27px;
    padding-right: 27px;
    user-select: none;
}

.button:hover{
    box-shadow: 2px 2px 4px 0 #B8DAB0;
}

@media (max-width: 1260px) {
    .container{
        width: 700px;
        margin-left: calc(50% - 350px);
        margin-top: calc(50vh - 230px);
        padding: 80px 100px;
        height: 460px;
    }
    .left-column{
        width: 156px;
    }
    .right-column{
        width: 250px;
        gap: 30px;
    }
    .title{
        font-size: 150px;
    }
    .title-desciption,
    .desciption{
        font-size: 16px;
    }
    .button{
        font-size: 16px;
        padding: 10px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width: 700px) {
    .container{
        width: 100%;
        margin-left: 0;
        height: auto;
    }
    .left-column{
        width: 30%;
    }
}

@media (max-width: 560px) {
    .left-column{
        display: none;
    }
    .right-column{
        margin-right: calc(50% - 125px);
    }
}