body,
body * {
box-sizing: border-box;
margin: 0;
padding: 0;
}

body{
    background-color: darkgray;
}

.container{
    font-family: monospace;
    display: inline-block;
    width: 700px;
    margin-left: calc(50% - 350px);
    margin-top: 222px;
    background-color: #fff;
    color: #1F4D14;
    position: relative;
    height: 460px;
}

.exit{
    position: absolute;
    color: #B4B4B4;
    top: 10px;
    right: 20px;
    font-size: 20px;
    height: 1.5em;
    width: 1.5em;
    border: none;
}

.exit:hover{
    color: #000;
    background-color: red;
}

.left-column{
    float: left;
    margin-left: 100px;
    margin-top: 80px;
    width: 156px;
}

.right-column{
    float: left;
    margin-left: 100px;
    width: 250px;
    margin-top: 50px;
}

.title{
    font-weight: bold;
    font-size: 150px;
    line-height: 1em;
    margin-top: 50px;
}

.title-desciption,
.desciption{
    font-size: 16px;
    margin-top: 1em;
    font-weight: bold;
}

.desciption{
    font-weight: normal;
    color: #B4B4B4;
}

.button{
    display: inline-block;
    background-color: #61AE4F;
    text-decoration: none;
    color: #fff;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 40px;
}

.button:hover{
    box-shadow: 2px 2px 4px 0 #B8DAB0;}
